@{
    ViewBag.Title = "View";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    .forgot-password-container {
        width: 400px;
        margin: 50px auto;
    }

    .forgot-password-form {
        background-color: #f9f9f9;
        border-radius: 8px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        padding: 20px;
    }

    .form-group {
        margin-bottom: 20px;
    }

    .input-group {
        display: flex;
        align-items: center;
    }

        .input-group input[type="email"],
        .input-group input[type="text"],
        .input-group input[type="password"] {
            flex-grow: 1;
            padding: 10px;
            border: 1px solid #ccc;
            border-radius: 5px;
            box-sizing: border-box;
        }

        .input-group button {
            padding: 10px 20px;
            background-color: #007bff;
            color: #fff;
            border: none;
            border-radius: 5px;
            cursor: pointer;
            transition: background-color 0.3s; 
        }

    .send-otp-btn {
        margin-left: 10px;
    }

    .btn-verify {
        width: 100%;
    }

    h2 {
        margin-bottom: 20px;
        text-align: center;
        color: #333;
    }
</style>

<div class="forgot-password-container">
    <h2>Nhập email lấy otp</h2>
    <h4 style="color: red;">@ViewBag.Error</h4>
    <h4 style="font-weight: bold">@ViewBag.ThongBao</h4>
    <form action="" method="POST" class="forgot-password-form">
        @using (Html.BeginForm("OTP", "NguoiDung"))
        {
            <div class="form-group">
                <label for="email">Email:</label>
                <div class="input-group">
                    <input type="email" id="email" name="email" required class="form-control" placeholder="Nhập Email">
                    <button type="submit" class="btn btn-primary send-otp-btn">Gửi OTP</button>
                </div>
            </div>
        }
    </form>

    <div class="forgot-password-form">
        @using (Html.BeginForm("Verify", "NguoiDung"))
        {
            <div class="form-group">
                <label for="otp">Mã OTP:</label>
                <input type="text" id="otp" name="otp" required class="form-control" placeholder="Nhập Mã OTP">
                <button type="submit" class="btn btn-primary btn-verify">Kiểm Tra</button>
            </div>
        }

    </div>
</div>
