
@{
    ViewBag.Title = "ThongBaoDH";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Chưa có đơn hàng nào. Vui lòng quay lại trang chủ để mua hàng</h2>


<p>@Html.ActionLink("TRỞ VỀ", "Index")</p>

