@using MVC_Du_Lich.Models;
@{
    ViewBag.Title = "HoanThanhDonHang";
    Layout = "~/Views/Shared/_Layout.cshtml";
    DONDATTOUR donHang = Session["DonHang"] as DONDATTOUR;
}

@if (donHang.PTThanhToan == true)
{
    <div style="text-align:center">
        <h2>ĐẶT TOUR THÀNH CÔNG, VUI LÒNG THANH TOÁN QUA TÀI KHOẢN NÀY</h2>
        <p>Momo: 0938492749</p>
        <p>
            @Html.ActionLink("Về trang chủ", "Index", "Home", null, new { @class = "btn btn-primary" })
        </p>
    </div>
}
else
{
    <div style="text-align:center">
        <h2>ĐẶT TOUR THÀNH CÔNG, VUI LÒNG ĐỢI NHÂN VIÊN LIÊN HỆ</h2>
        <p>
            @Html.ActionLink("Về trang chủ", "Index", "Home", null, new { @class = "btn btn-primary" })
        </p>
    </div>
}

<h2>@ViewBag.Show</h2>


@*<div style="text-align:center">
        <h2>ĐẶT TOUR THÀNH CÔNG, VUI LÒNG ĐỢI NHÂN VIÊN LIÊN HỆ</h2>
        <p>
            @Html.ActionLink("Về trang chủ", "Index", "Home", null, new { @class = "btn btn-primary" })
        </p>
    </div>*@