
@{
    ViewBag.Title = "HoanThanhDonHang";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@*@if (ViewBag.Choice)
{
    <div style="text-align:center">
        <h2>ĐẶT TOUR THÀNH CÔNG, VUI LÒNG ĐỢI NHÂN VIÊN LIÊN HỆ</h2>
        <p>
            @Html.ActionLink("Về trang chủ", "Index", "Home", null, new { @class = "btn btn-primary" })
        </p>
    </div>
}
else
{
    <div style="text-align:center">
        <h2>ĐẶT TOUR THÀNH CÔNG, VUI LÒNG THANH TOÁN QUA TÀI KHOẢN NÀY</h2>
        <p>Momo: 0938492749</p>
        <p>
            @Html.ActionLink("Về trang chủ", "Index", "Home", null, new { @class = "btn btn-primary" })
        </p>
    </div>
}*@




<div style="text-align:center">
    <h2>ĐẶT TOUR THÀNH CÔNG, VUI LÒNG ĐỢI NHÂN VIÊN LIÊN HỆ</h2>
    <p>
        @Html.ActionLink("Về trang chủ", "Index", "Home", null, new { @class = "btn btn-primary" })
    </p>
</div>