@using MVC_Du_Lich.Models;
@{
    ViewBag.Title = "HoanThanhDonHang";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div style="text-align:center">
    <h2>@ViewBag.Show</h2>
    @Html.ActionLink("Về trang chủ", "trangChu", "rangChu", null, new { @class = "btn btn-primary" })
</div>