@using MVC_Du_Lich.Models
@model IEnumerable<LOAITOUR>

@foreach (var loai in Model)
{
    <div class="col-md-3 col-6 block two-line" style="margin-bottom: 40px">
        <h4 style="max-width: 100%; width: 100%; max-height: fit-content; height: fit-content; margin-bottom: 15px ">
            <a href="#" name="Du lịch trong nước" title="Du lịch trong nước" style="text-decoration: none;color:black">@loai.TenLoaiTour</a>
        </h4>
        <ul class="menu">
            @foreach (var diemden in loai.DIEMDENs)
            {
                <li class="menu-item"><a href="#">@diemden.TenDDen</a></li>
            }
        </ul>
    </div>
}
