
@{
    ViewBag.Title = "NavigationAdmin";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<div class="row">
    <div class="col-md-3 col-12 sidebar sidebar-filter">
        <div class="sidebar-inner">
            <h3 style="text-align:center;">Danh mục tour</h3>
            <div class="px-3 py-4">


                <a href="@Url.Action("DiemDi", "QuanLy")" class="list-group-item" style="list-style: none; text-decoration: none">Quản lý điểm đi</a>
                <a href="@Url.Action("DiemDen", "QuanLy")" class="list-group-item" style="list-style: none; text-decoration: none">Quản lý điểm đến</a>
                <a href="@Url.Action("ChauLuc", "QuanLy")" class="list-group-item" style="list-style: none; text-decoration: none">Quản lý châu lục</a>


            </div>

        </div>
    </div>


    <div class="col-md-9 col-12 main-content">
        @RenderBody()
    </div>
</div>
