
@{
    ViewBag.Title = "NavigationLocTour";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-md-3 col-12 sidebar sidebar-filter">
        <div class="sidebar-inner">
            <h3 style="text-align:center;">Danh mục loại SP</h3>
            <div class="px-3 py-4">
                @Html.Action("DiemDi", "LoaiTour")

                @Html.Action("DiemDen", "LoaiTour", new {id = ViewBag.LoaiTour})

            </div>

        </div>
    </div>


    <div class="col-md-9 col-12 main-content">
        @RenderBody()
    </div>
</div>