
@{
    ViewBag.Title = "TinTuc1";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    .py-5 {
        padding-bottom: 3rem;
        padding-top: 3rem;
    }

    .news-details_title {
        padding: 1rem 0;
        font-size: 32px;
        color: rgba(0,0,0,0.85098);
    }

    h1 {
        line-height: 50px;
    }

    .news-details_meta_category {
        color: #fd5056;
    }

    a {
        text-decoration: none;
        color: #2d4271;
    }

        a:hover {
            color: #0d6efd;
        }

    .text-muted {
        color: #6c757d;
    }

    .card-text:last-child {
        margin-bottom: 0;
    }

    small {
        font-size: 0.875rem;
    }

    .socialBox {
        display: flex;
        margin-top: 20px;
    }

    .news-details_body {
        font-size: 11pt;
        line-height: 1.6;
        color: rgba(0,0,0,0.85098);
    }

    .news-details_body_summary {
        text-align: justify;
    }

    strong a:hover {
        text-decoration: none;
    }

    .news-details_body img {
        max-width: 100%;
        height: auto;
        display: block;
        margin: 10px auto;
    }

    h2 {
        font-size: 20px;
        line-height: 40px;
    }

    ul {
        margin-top: 0;
        margin-bottom: 1rem;
        padding-left: 2rem;
        list-style-type: disc;
    }

    li {
        display: list-item;
        text-align: left;
        max-width: 100%;
        width: 100%;
    }

        li::marker {
            unicode-bidi: isolate;
            font-variant-numeric: tabular-nums;
            text-indent: 0px;
            text-align: start;
            text-align-last: start;
        }

    .news-mini {
        padding-left: 1.5rem;
        margin-bottom: 3rem;
    }

    .list-tinkhac {
        font-size: 15px;
    }

    li::marker {
        unicode-bidi: isolate;
        font-variant-numeric: tabular-nums;
        text-indent: 0px;
        text-transform: none;
        text-align: start;
        text-align-last: start;
    }
</style>

<main role="main" style="display: block">
    <div class="news-details">
        <div class="container">

        </div>

        <div class="container">
            <article>
                <header class="news-details_heading py-5">
                    <div class="row justify-content-between">
                        <div class="col-md-8 col-sm-12">
                            <h1 class="news-details_title fw-bold">
                                Top 7 địa điểm du lịch Hạ Long tuyệt đẹp nhất định phải ghé thăm
                            </h1>
                            <div class="news-details_meta" style="display: block">
                                <span class="news-details_meta_category fw-bold me-2">
                                    <a href="#" style="text-decoration:none">Tin tức du lịch</a>
                                </span>
                                <span class="card-text text-muted">
                                    <small class="news_new-thread_date">06/11/2023</small>
                                </span>
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-12">
                            <div class="socialBox">

                            </div>
                        </div>
                    </div>
                </header>

                <section class="news-details_body mb-5">
                    <div class="row">
                        <div class="col-md-8 col-12">
                            <p class="news-details_body_summary lh-base mb-4">
                                Với hàng nghìn hòn đảo kỳ vĩ, và cảnh quan thiên nhiên tươi đẹp, cùng nhiều địa điểm văn hoá, lịch sử ấn tượng, Hạ Long là điểm đến được du khách quan tâm. Du lịch Hạ Long có lợi thế phong cảnh tuyệt đẹp, hấp dẫn với du khách trong nước và quốc tế. Dưới đây là top 10 địa điểm du lịch Hạ Long được du khách yêu mến nhất.
                            </p>
                            <div>
                                <div style="text-align:justify">

                                    <h2>
                                        <strong>1. Vịnh <a href="#">Hạ Long</a></strong>
                                    </h2>
                                    <div style="text-align:center">
                                        <figure class="image" style="display: inline-block; margin: 0 0 1rem;">
                                            <img src="~/Images/HaLong1.jpg" height="842" width="1336" />
                                        </figure>
                                    </div>

                                    <div style="text-align:justify">
                                        Nhắc đến vịnh Hạ Long đây không chỉ là niềm tự hào của Quảng Ninh, mà còn là điểm đến vô cùng hấp dẫn của Việt Nam đối với du khách quốc tế. Một trong 7 Kỳ quan Thế giới mới, nơi được thiên nhiên ban tặng cho vẻ đẹp tuyệt tác không gì sánh bằng. Đây là địa điểm du lịch Hạ Long khiến nhiều du khách mong muốn được ghé thăm một lần trong đời.

                                        <br />
                                        <br />

                                        Vịnh Hạ Long gây ấn tượng với hệ sinh thái đa dạng, khiến cho ai cũng mong muốn được đến đây chiêm ngưỡng, với hàng nghìn hòn đảo lớn nhỏ với vô số hình dạng đẹp đẽ với làn nước trên hòn đảo trong xanh quanh năm.
                                        <br />
                                        Không chỉ có vậy, đến đây bạn còn được tận hưởng nhiều trải nghiệm hấp dẫn như: nghỉ đêm trên du thuyền vịnh Hạ Long, chèo thuyền kayak khám phá hang động, ngắm nhìn vẻ đẹp bình yên của làng chài còn giữ nguyên nét hoang sơ,...

                                        <br />
                                        <br />

                                        <em>
                                            <strong>>>> Tham khảo Tour <<<</strong>
                                        </em>

                                        <br />

                                        <strong>
                                            1. <a href="#">Tổng hợp tour du lịch Nội địa Tết Dương lịch</a>
                                            <br />
                                            2. <a href="#">Tỗng hợp tour du lịch Nội địa Tết Âm lịch</a>
                                            <br />
                                            3. <a href="#">Tổng hợp tour du lịch Hạ Long Tết Âm lịch</a>
                                        </strong>
                                        <br />

                                    </div>

                                    <br />
                                    <h2 style="text-align:justify">
                                        <strong>2. Đảo Tuần Châu</strong>
                                    </h2>
                                    <div style="text-align: center">
                                        <img src="~/Images/HaLong2.jpg" height="890" width="1336" />
                                    </div>

                                    <div style="text-align:justify">
                                        Đảo Tuần Châu hay đảo Dừa là viên ngọc quý của du lịch ở Hạ Long. Đến đây bạn sẽ được check in với cảng tàu du lịch lớn nhất Đông Nam Á, tận hưởng kỳ nghỉ đẳng cấp cùng các resort và khách sạn sang trọng. Đặc biệt là vui chơi “phá đảo” ở Công viên giải trí Tuần Châu những trò chơi hấp dẫn. Ngoài ra, bạn sẽ được check in cùng hàng trăm tác phẩm điêu khắc ở Công viên Rồng và công viên Khủng Long.  Du lịch Hạ Long, bạn nên ghé thăm vẻ đẹp của đảo Tuần Châu nhé.
                                        <br />
                                    </div>

                                    <br />
                                    <h2 style="text-align:justify">
                                        <strong>3. Vịnh Bái Tử Long</strong>
                                    </h2>
                                    <div style="text-align:center">
                                        <img height="720" width="1336" src="~/Images/HaLong3.jpg" />
                                    </div>
                                    <div style="text-align: justify">
                                        Địa điểm du lịch Hạ Long nổi tiếng này cuốn hút du khách với vẻ ngoài mộc mạc, nơi tập trung hàng trăm hòn đảo lớn nhỏ khác nhau. Cảm giác được hoà mình vào làn nước xanh trong vắt trên những bãi biển, bở cát trắng trải dài sẽ khiến bạn thực sự bị mê mẩn.
                                        <br />
                                    </div>

                                    <br />
                                    <h2 style="text-align:justify">
                                        <strong>4. Sun World Hạ Long Complex</strong>
                                    </h2>
                                    <div style="text-align:center">
                                        <img height="768" width="1024" src="~/Images/HaLong4.png" />
                                    </div>
                                    <div style="text-align: justify">
                                        Địa điểm du lịch Hạ Long nay là khu phức hợp giải trí hàng đầu của nước ta đầy ấn tượng mà bất cứ ai đều mong muốn có dịp đặt chân đến 1 lần. Tại đây, du khách được trải nghiệm cáp treo Nữ hoàng ngắm nhìn thiên nhiên từ trên cao. Check in với các nhân vật nổi tiếng ở bảo tàng tượng sáp, xem biểu diễn rối nước, ngồi trên Vòng quay Mặt Trời ngắm nhìn thành phố lung linh.
                                        <br />
                                        <br />
                                        Vui chơi công viên nước, khu vui chơi cho trẻ em hay những trò chơi mạo hiểm mang đến cảm giác mạnh. Check in vườn Nhật, viếng Bảo Hải Linh Sơn Tự. Tắm mát tham gia chò trơi trên biển và tham quan khu phố cổ,... Có vô vàn những trải nghiệm với đủ các loại hình khác nhau. Đảm bảo bạn sẽ có kỳ nghỉ vui nổ trời và thật nhiều kỷ niệm đẹp ở Sun World Hạ Long Park.
                                        <br />
                                        <br />
                                        Đây chắc chắn là câu trả lời tuyệt vời nhất cho câu hỏi du lịch Hạ Long đi đâu, vì vậy, hãy dành thời gian khám phá hết bạn nhé.
                                        <br />
                                    </div>

                                    <br />
                                    <h2 style="text-align:justify">
                                        <strong>5. Bảo tàng tranh 3D Hạ Long</strong>
                                    </h2>
                                    <div style="text-align: center">
                                        <img height="1028" width="1336" src="~/Images/HaLong5.jpg" />
                                    </div>
                                    <div style="text-align: justify">
                                        Theo kinh nghiệm du lịch Hạ Long nếu bạn đang muốn tìm một địa điểm check in độc đáo ở Hạ Long thì hãy đến bảo tàng tranh 3D vô cùng ấn tượng này. Bảo tàng còn có tên gọi là Funny Air, được xây dựng thành 2 tầng với 6 phòng trưng bày nhiều chủ đề khác nhau.
                                        <br />
                                        <br />
                                        - Tầng 1 là tổ hợp trưng bày các địa điểm nổi bật của Quảng Ninh như: vịnh Hạ Long, chùa Yên Tử, mũi Sa Vĩ, sống lưng khủng long Bình Liêu,....
                                        <br />
                                        - Tầng 2: thế giới tranh ảnh vô cùng sống động từ biển cả, động vật hoang dã đến những tranh viễn tưởng dành cho thiếu nhi,...
                                        <br />
                                    </div>

                                    <br />
                                    <h2 style="text-align: justify">
                                        <strong>6. Đỉnh núi Bài Thơ</strong>
                                    </h2>
                                    <div style="text-align:center">
                                        <img src="~/Images/chitiettintuc6.jpg" height="683" width="1024" />
                                    </div>
                                    <div style="text-align:justify">
                                        Ngọn núi đá vôi tuyệt đẹp này được ví như “nóc nhà của Hạ Long”. Nơi gắn liền với thi ca, những chiến công vẻ vang của vùng đất Mỏ và cả biết bao điều bí ẩn. Hành trình lên đỉnh núi Bài Thơ qua các hang động kỳ bí, lên đến nơi bạn sẽ bị choáng ngợp với khung cảnh núi non trùng điệp hiện ra ngay trước mắt. Có vịnh Hạ Long thơ mộng, cảnh thành phố nhộn nhịp, cáp treo Nữ hoàng xa xa,... những ấn tượng mà không lên đây chưa chắc bạn đã có được.
                                        <br />
                                        Đây chắc chắn là điểm đến độc đáo trong danh sách các địa điểm du lịch Hạ Long.
                                        <br />
                                    </div>

                                    <br />
                                    <h2 style="text-align: justify">
                                        <strong>7. Bảo tàng và thư viện Quảng Ninh</strong>
                                    </h2>
                                    <div style="text-align:center">
                                        <img height="750" width="1200" src="~/Images/HaLong7.jpg" />
                                    </div>
                                    <div style="text-align: justify">
                                        Bảo tàng - thư viện Quảng Ninh là một trong những địa điểm du lịch Hạ Long được check in nhiều nhất của các bạn trẻ khi đến với Hạ Long. Bên ngoài bảo tàng toát lên vẻ đẹp ấn tượng với sắc đen huyền bí. Bên trong bảo tàng kiêm thư viện này được chia thành nhiều khu vực trưng bày lịch sử và nghệ thuật sống động với những chủ đề khác nhau. Đi du lịch Hạ Long, chắc chắn bạn sẽ có những trải nghiệm bất ngờ khi ghé thăm địa điểm này.
                                        <br />
                                        <br />
                                        <br />
                                        Nằm trong top 7 kỳ quan thiên nhiên thế giới, chắc chắn Hạ Long là điểm đến mơ ước của mọi du khách. Không chỉ khách du lịch trong nước, du khách nước ngoài cũng rất thích thú, trầm trồ với tạo hóa thiên nhiên nơi đây.
                                        <br />
                                        <br />
                                        Nguồn bài viết: Sưu tầm và tổng hợp
                                        <br />
                                        camnangdulich #camnangdulich
                                    </div>
                                </div>
                            </div>


                        </div>

                        <div class="col-md-4 col-12">
                            <div class="news-mini mb-5">
                                Tin mới
                                <div id="divNewsLastest">
                                    <ul class="list-tinkhac">
                                        <li>
                                            <a href="#">Top 7 cung đường Đà Lạt ngắm mai anh đào nở rộ dịp xuân về</a>
                                        </li>
                                        <li>
                                            <a href="#">Top 7 địa điểm du lịch Hạ Long tuyệt đẹp nhất định phải ghé thăm</a>
                                        </li>
                                        <li>
                                            <a href="#">Top 10 địa điểm du lịch mùa xuân đẹp nhất Singapore</a>
                                        </li>
                                        <li>
                                            <a href="#">Nghỉ dưỡng và thư giãn vào mùa đông ở các đảo lớn của Nhật Bản</a>
                                        </li>
                                        <li>
                                            <a href="#">Khám phá loạt tọa độ cực hot trên chuyến hải trình của Vietravel x Spectrum Of The Seas</a>
                                        </li>
                                        <li>
                                            <a href="#">Sắc màu từ top 4 lễ hội Thái Lan mùa xuân độc đáo nhất</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>

                            <div class="news-mini mb-5">
                                Tin ngẫu hứng
                                <div id="divNewsRandom">
                                    <ul class="list-tinkhac">
                                        <li>
                                            <a href="#">Sắc màu từ top 4 lễ hội Thái Lan mùa xuân độc đáo nhất</a>
                                        </li>
                                        <li>
                                            <a href="#">Top 10 địa điểm du lịch mùa xuân đẹp nhất Singapore</a>
                                        </li>
                                        <li>
                                            <a href="#">Khám phá loạt tọa độ cực hot trên chuyến hải trình của Vietravel x Spectrum Of The Seas</a>
                                        </li>
                                        <li>
                                            <a href="#">Nghỉ dưỡng và thư giãn vào mùa đông ở các đảo lớn của Nhật Bản</a>
                                        </li>
                                        <li>
                                            <a href="#">Top 7 cung đường Đà Lạt ngắm mai anh đào nở rộ dịp xuân về</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>

                </section>
            </article>
        </div>
    </div>
</main>
