<style >
.home-page__destination {
    margin-left: 10%;
    margin-right: 10%;
}

.home-page__destination .card-body {
    text-align: center;
    min-height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.destination-item__image__overlay {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    background: rgba(0, 0, 0, .25);
    border-radius: 10px;
}

.home-page__title {
    font-weight: 700;
    font-size: 30px;
    color: #2d4271;
}

.destination-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.destination-item {
    width: 100%;
    margin-bottom: 30px;
    border: none;
    border-radius: 12px;
    overflow: hidden;
    transition: transform 0.3s;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    height: 100%; /* Đảm bảo chiều cao thẻ card bằng chiều cao của phần tử chứa */
}

    .destination-item:hover {
        transform: scale(1.05);
    }

    .destination-item img {
        width: 100%;
        height: 200px; /* Đặt chiều cao cố định cho ảnh */
        object-fit: cover;
    }

    .destination-item .card-body {
        padding: 16px; /* Thêm padding cho thẻ body */
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        flex: 1; /* Đảm bảo nội dung thẻ có thể mở rộng để lấp đầy không gian còn lại */
    }

.destination-title {
    font-size: 16px; /* Điều chỉnh kích thước tiêu đề cho phù hợp */
    font-weight: bold;
    margin: 0;
    overflow: hidden; /* Ẩn văn bản vượt quá kích thước của phần tử */
    text-overflow: ellipsis; /* Thêm dấu '...' khi văn bản vượt quá kích thước */
    display: -webkit-box;
    -webkit-line-clamp: 2; /* Giới hạn số dòng hiển thị */
    -webkit-box-orient: vertical;
    line-clamp: 2; /* Giới hạn số dòng hiển thị */
    box-orient: vertical;
}

.destination-description {
    font-size: 14px; /* Điều chỉnh kích thước mô tả cho phù hợp */
    color: #888;
    margin-top: auto; /* Đẩy mô tả xuống dưới cùng */
}

a:hover {
    text-decoration: none; /* Ở trạng thái hover */
}

.card-title a {
    color: #2d4271; /* Màu mặc định */
    transition: color 0.3s; /* Tạo hiệu ứng chuyển đổi */
}

    .card-title a:hover {
        color: blue;
    }

/* Vì sao chọn Vietravel */
.home-page__why-vietravel {
    margin-left: 10%;
    color: #2d4271;
}

    .home-page__why-vietravel img {
        width: 15%;
        height: 15%;
    }

#test {
    text-align: center;
}

</style >
